In [1]:
rdd=sc.textFile("/FileStore/tables/1800/1800.csv") \
    .map(lambda line: line.split(',')) \
    .filter(lambda line: len(line)>1) \
    .map(lambda line: (line[0],line[1],line[2],line[3])) 
rdd.collect()

In [2]:
df = spark.createDataFrame([(1, 4), (2, 5), (3, 6)], ["A", "B"])
print df.collect()
print df.show()

In [3]:
#people = spark.read.json('/FileStore/tables/people.json')
df = spark.read.json('/FileStore/tables/employees.json')

In [4]:
df.show()

In [5]:
df.createGlobalTempView("people")

In [6]:
df2 = spark.sql("select * from global_temp.people")

In [7]:
df2.show()

In [8]:
%fs ls /FileStore/tables/

In [9]:
df.explain()

In [10]:
stringJSONRDD = sc.parallelize((""" 
  { "id": "123",
    "name": "Katie",
    "age": 19,
    "eyeColor": "brown"
  }""",
   """{
    "id": "234",
    "name": "Michael",
    "age": 22,
    "eyeColor": "green"
  }""", 
  """{
    "id": "345",
    "name": "Simone",
    "age": 23,
    "eyeColor": "blue"
  }""")
)

In [11]:
swimmersJSON = spark.read.json(stringJSONRDD)

In [12]:
swimmersJSON.createOrReplaceTempView("swimmersJSON")
print swimmersJSON.show()

In [13]:
spark.sql("select * from swimmersJSON").show()

In [14]:
swimmersJSON.printSchema()

In [15]:
# import pyspark class Row from module sql
from pyspark.sql import *

# Create Example Data - Departments and Employees

# Create the Departments
department1 = Row(id='123456', name='Computer Science')
department2 = Row(id='789012', name='Mechanical Engineering')
department3 = Row(id='345678', name='Theater and Drama')
department4 = Row(id='901234', name='Indoor Recreation')

# Create the Employees
Employee = Row("firstName", "lastName", "email", "salary")
employee1 = Employee('michael', 'armbrust', 'no-reply@berkeley.edu', 100000)
employee11 = Employee('michael', 'armbrust', 'no-reply@berkeley.edu', 200000)
employee2 = Employee('xiangrui', 'meng', 'no-reply@stanford.edu', 120000)
employee3 = Employee('matei', None, 'no-reply@waterloo.edu', 140000)
employee31 = Employee('matei', None, 'no-reply@waterloo.edu', 180000)
employee4 = Employee(None, 'wendell', 'no-reply@berkeley.edu', 160000)

# Create the DepartmentWithEmployees instances from Departments and Employees
departmentWithEmployees1 = Row(department=department1, employees=[employee1, employee2])
departmentWithEmployees2 = Row(department=department2, employees=[employee3, employee4, employee11])
departmentWithEmployees3 = Row(department=department3, employees=[employee1, employee4, employee31])
departmentWithEmployees4 = Row(department=department4, employees=[employee2, employee3])